{% extends 'interactions/base.html' %}
{% load static %}
{% block content %}
    {% include "interactions/navbar.html" %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <br/>
    <figure class="highcharts-figure">
        <div class="col-md-8 mx-auto">
            <div class="card border-primary content-center">
                <div class="card-body ">
                    <div id="container"></div>
                    {{ json_data | json_script:"data" }}
                    <p class="highcharts-description text-center">
                        Wykres przedstawiający histogram dla stopni węzłów.
                    </p>
                </div>
            </div>
        </div>
    </figure>

    <script type="text/javascript">
        var degree
        var histo
        const graph_data = JSON.parse(document.getElementById("data").textContent)
        if (graph_data !== 0) {
            degree = graph_data.degree_sequence
            histo = graph_data.histogram_data
            data = {degree, histo}
        }


        Highcharts.chart('container', {
            title: {
                text: 'Wykres dystrybucji stopnia'
            },

            xAxis: [{
                title: {text: 'Węzeł'},
                alignTicks: false
            }, {
                title: {text: 'Stopień'},
                alignTicks: false,
                opposite: true
            }],

            yAxis: [{
                title: {text: 'Stopień'}
            }, {
                title: {text: 'Liczba węzeł'},
                opposite: true
            }],

            plotOptions: {
                histogram: {
                    accessibility: {
                        point: {
                            valueDescriptionFormat: '{index}. {point.x:.3f} to {point.x2:.3f}, {point.y}.'
                        }
                    }
                }
            },

            series: [{
                name: 'Histogram',
                type: 'histogram',
                data: histo,
                xAxis: 1,
                yAxis: 1,
                baseSeries: 's1',
                zIndex: -1
            }, {
                name: 'Data',
                type: 'scatter',
                data: degree,
                id: 's1',
                marker: {
                    radius: 1.5
                }
            }]
        });
        {#  Skorzystano przy tym wykresie z dokumentacji i kodu ze strony: #}
        {#  https://www.highcharts.com/docs/chart-and-series-types/histogram-series  #}

    </script>
{% endblock %}