{% extends 'interactions/base.html' %}
{% load static %}
{% block content %}
    {% include "interactions/navbar.html" %}
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-12" align="center">
                <h3>{{ interaction.moleculeA }} - {{ interaction.moleculeB }}</h3>
            </div>
        </div>
        <br/>
        <div class="col-md-12 shadow-lg p-3 mb-5 bg-white rounded">
            <h1 class="my-12" align="center">Opis</h1>
            <div class="row">
                <div class="col-md-2">
                    <p class="lead font-weight-bold">Molekuła A:</p>
                </div>
                <div class="col-md-4 ">
                    <p class="lead font-weight-bold">{{ interaction.intact_name_A }}</p>
                </div>
                <div class="col-md-6">
                    <p class="lead">: {{ interaction.descriptionA }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p class="lead font-weight-bold">Molekuła B:</p>
                </div>
                <div class="col-md-4">
                    <p class="lead font-weight-bold">{{ interaction.intact_name_B }}</p>
                </div>
                <div class="col-md-6">
                    <p class="lead">: {{ interaction.descriptionB }}</p>
                </div>
            </div>
            {#            <p class="lead fw-bold">{{ interaction.intact_name_B }}: {{ interaction.descriptionB }}</p>#}
            <h1 class="my-12" align="center"> Detale</h1>

            <ul class="list-group">
                <li class=" list-group-item active font-weight-bold"
                    aria-current="true">{{ interaction.intact_name_A }}</li>
                <li class=" list-group-item">Typ: {{ interaction.typeA }}</li>
                <li class=" list-group-item">Gatunek: {{ interaction.speciesA }}</li>
                <li class=" list-group-item">{{ interaction.aliasesA }}</li>
                <li class=" list-group-item"> stopień: {{ interaction.degree_A }}</li>
            </ul>
            <br>
            <ul class="list-group">
                <li class=" list-group-item active font-weight-bold"
                    aria-current="true">{{ interaction.intact_name_B }}</li>
                <li class=" list-group-item">Typ: {{ interaction.typeB }}</li>
                <li class=" list-group-item">Gatunek: {{ interaction.speciesB }}</li>
                <li class=" list-group-item">{{ interaction.aliasesB }}</li>
                <li class=" list-group-item"> stopień: {{ interaction.degree_B }}</li>
            </ul>
        </div>
    </div>


{% endblock %}