{% extends 'interactions/base.html' %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"></script>
        {% include 'interactions/navbar.html' %}
        <h1></h1>
        <style type="text/css">
            #mynetwork {
                width: 1000px;
                height: 1000px;
                background-color: #ffffff;
                border: 1px solid lightgray;
                position: center;
                float: left;
            }
        </style>
    </head>
    <body>
    <div class="row">
        <div class="col-md-8 mx-auto"></div>
        <div class="col-md-8">
           <div class="card bg-light">
                <div class="card-body ">
                    <div id="mynetwork"></div>
                    {{ json_data | json_script:"data" }}
                </div>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="card bg-secondary content-center">
            <div class="card-body">
                <ul class="list-group">
                <li class="list-group-item">Liczba węzłów w sieci: {{ nodes_amount }}</li>
                <li class="list-group-item">Liczba połączeń w sieci: {{ amount_of_edges }}</li>
                <li class="list-group-item">Średni współczynnik grupowania: {{ av_clustering }}</li>
                <li class="list-group-item">Asortatywność sieci: {{ assortativity }}</li>
                <li class="list-group-item">Długość najkrótszej ścieżki: <span id=result></span>
                </li>
                <li class="list-group-item"> Węzły w ścieżce:
                    <span id="path"></span>
                </li>
                </ul>
                <br/>
            <a href="#" id="calculate">
                <input
                        type="button"
                        value="Oblicz odległość"
                        class="btn btn-success btn-sm"
                />
            </a>
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        // initialize global variables.
        var edges, nodes, color;
        var network;
        var container;
        var options, data;
        let clickedNodes


        // This method is responsible for drawing the graph, returns the drawn network
        function drawGraph() {

            var container = document.getElementById('mynetwork');
            const graph_data = JSON.parse(document.getElementById("data").textContent)
            // parsing and collecting nodes and edges from the python
            if (graph_data.length !== 0) {
                nodes = new vis.DataSet(graph_data.nodes)
                edges = new vis.DataSet(graph_data.links)
                color = new vis.DataSet(graph_data.color)
            } else {
                nodes = {id: 1, label: 'BRAK DANYCH'}
                edges = {}
            }
            // adding nodes and edges to the graph
            data = {nodes: nodes, edges: edges, color: color};

            var options = {
                "configure": {
                    "enabled": false
                },
                "nodes": {
                    shape: 'dot',
                    size: 10,
                    title: undefined,
                    color: {
                        border: '#2B7CE9',
                        background: '#D2E5FF'
                    }
                },
                "edges": {
                    "color": {
                        "inherit": true
                    },
                    "smooth": {
                        "enabled": false,
                        "type": "continuous"
                    }
                },
                "interaction": {
                    "dragNodes": true,
                    "hideEdgesOnDrag": false,
                    "hideNodesOnDrag": false,
                    "multiselect": true
                },
                "physics": {
                    "enabled": true,
                    "stabilization": {
                        "enabled": true,
                        "fit": true,
                        "iterations": 1000,
                        "onlyDynamicEdges": false,
                        "updateInterval": 50
                    }
                }
            };

            network = new vis.Network(container, data, options);
            network.on('click', function (properties) {
                    var ids = properties.nodes
                    clickedNodes = nodes.get(ids)
                    console.log(clickedNodes)
                }
            )
            return network;
        }

        drawGraph();
        $(function () {
            $('#calculate').bind('click', function () {
                if (clickedNodes.length === 2) {
                    $.ajax({
                        type: 'GET',
                        url: "/shortest_path/",
                        {#processData: false,#}
                        contentType: false,
                        data: {
                            source: clickedNodes[0]['id'],
                            target: clickedNodes[1]['id']
                        },
                        dataType: 'json',
                        success: function (response) {
                            if (response.result === 'OK') {
                                if (response.data) {
                                    {#result.value = clickedNodes [0]['id']#}
                                    var i = 0
                                    var path = ''
                                    response.data.path.forEach(node => {
                                            i++
                                            if (i < node.length) {
                                                path += node + '->'
                                            } else {
                                                path += node
                                            }
                                        }
                                    )
                                    {#result.value += clickedNodes [1]['id']#}
                                    console.log(result)
                                    $('#path').html(path)
                                    $('#result').html(response.data.long)

                                }
                            } else {
                                $('#result').text('Coś poszło nie tak')
                            }
                        }
                    })
                }
                return false
            })

        })

    </script>
    </body>
{% endblock content %}