{% extends 'interactions/base.html'%}
{% load static %}
{% block content %}
    {% include "interactions/navbar.html" %}
    <br/>
    <div class="row">
    {%if all_interactions %}
      {% for interaction in all_interactions %}
        <div class="col-md-4 col-sm-6 col-lg-3">
          <div class="card">
            <div class="card-body text-center">
              <p class="card-title font-weight-bold">{{ interaction.moleculeA }} - {{ interaction.moleculeB }}</p>
              <hr>
              <p class="card-text">{{ interaction.acA }} {{ interaction.acB }}</p>
              <a href="/details/{{interaction.id}}">
                <input
                value="Dowiedz się więcej"
                class="btn btn-success btn-sm"
                type="submit"
            /></a>
            </div>
          </div>
          <br><br><br>
        </div>
      {% endfor %}
    {% else %}
         <div class="card text-white bg-warning mb-3 mx-auto">
             <div class="card-header">Uwaga</div>
             <div class="card-body">
                 <h5 class="card-title text-center font-weight-bold">Brak danych w bazie</h5>
                 <p class="card-text text-center font-weight-bold">Baza została wyczyszczona albo nie pobrano jeszcze żadnych danych.</p>
             </div>
         </div>
    {% endif %}
    </div>
{% endblock content %}