{% extends 'interactions/base.html' %}
{% load static %}
{% block content %}
    {% include "interactions/navbar.html" %}
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="row">
                    <div class="card border-primary">
                        <div class="container ">
                            {#                            <br>#}
                            <h2 class="card-title text-center">Search for interactions</h2>
                            <hr>
                            {#                            <br>#}
                            <form method="GET">
                                {#                                <div class="col-md-7 mx-auto">#}
                                <div class="row mx-auto">

                                    <label class="font-weight-bold" for="protein_name">Nazwa molekuły:&nbsp;</label>
                                    <input type="text" name="protein_name" id="protein_name"
                                           placeholder="nazwa molekuły"
                                           class="text-center"/>
                                    <label class="font-weight-bold" for="lvl">&nbsp; Poziom sieci:&nbsp; </label>
                                    <input type="number" name="lvl" id="lvl" placeholder="poziom sieci"
                                           class="text-center"
                                            {#                                           min="1"#}
                                           min="0"
                                           oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : 1"
                                           max="20"/>
                                </div>
                                {#                                </div>#}
                                <br/>
                                <div class="row">
                                    <div class="col-md-7 mx-auto text-center">
                                        <button type="submit" class="btn-success btn-sm font-weight-bold">SEARCH PROTEIN
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <br>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    {#                    <div class="col-md-7 mx-auto">#}
                    <div class="card text-white bg-primary">
                        <div class="card-header">Informacje</div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Poziom sieci</h5>
                            <p class="card-text text-justify ">W to pole należy wpisać ilu sąsiadów białka
                                program ma pobrać z
                                bazy IntAct. Ze względów na możliwy długi czas oczekiwania na pozyskanie wyników z
                                bazy zalecany jest
                                umiar.</p>
                            <hr>
                            <p class="card-text text-justify">Ilość pobranych sąsiednich białek dla każdego
                                wyszukania na potrzeby
                                pracy inżynierskiej: </p>
                            <ul class="list-group text-secondary ">
                                <li class=" list-group-item text-center ">3</li>
                            </ul>
                        </div>
                    </div>
                    {#                    </div>#}
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="card text-white bg-primary">
                    <div class="card-header">Informacje</div>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Nazwa sieci</h5>
                        <p class="card-text text-justify ">W to pole należy wpisać nazwę molekuły, która nas interesuje.
                            Najbardziej preferowaną opcją jest wpisanie kodu dostępu z bazy UniProt.</p>
                        <hr>
                        <p class="card-text text-justify"> Kody UniProt dla białek w sieci stworzonej na potrzeby
                            pracy inżynierskiej: </p>
                        <ul class="list-group text-secondary ">
                            <li class=" list-group-item">DOK7 - EBI-3046647</li>
                            <li class=" list-group-item">MUSK - EBI-6423196</li>
                            <li class=" list-group-item">LRP4 - EBI-310873</li>
                            <li class=" list-group-item">COL13A1 - EBI-2528487</li>
                            <li class=" list-group-item">AGRN - EBI-947482</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <br><br>
            <div class="row">
                {% for interaction in all_interactions %}
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <p class="card-title font-weight-bold">{{ interaction.moleculeA }}
                                    - {{ interaction.moleculeB }}</p>
                                <hr>
                                <p class="card-text">{{ interaction.acA }} {{ interaction.acB }}</p>
                                <a href="/details/{{ interaction.id }}">
                                    <input
                                            value="Dowiedz się więcej"
                                            class="btn btn-success btn-sm"
                                            type="submit"
                                    /></a>
                            </div>
                        </div>
                        <br><br><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}