{% extends 'interactions/base.html' %}
{% load static %}
{% block content %}
    {% include "interactions/navbar.html" %}
    <div class="row">
        <div class="col-md-12">
            {% if parameters %}
                <table class="table" style="text-align: center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa molekuły</th>
                        <th scope="col">Stopień</th>
                        <th scope="col">Współczynnik zgrupowania</th>
                        <th scope="col">Akcja</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in parameters %}
                        <tr style="align-items: center">
                            <th scope="col">{{ p.pk }}</th>
                            <td>{{ p.molecule }}</td>
                            <td>{{ p.degree }}</td>
                            <td>{{ p.clustering_coefficient }}</td>
                            <td>
                                <a type="button" class="btn btn-link" href="/node_interactions/{{ p.molecule }}">
                                    <i class="fa fa-bars" aria-hidden="true" style="color: black"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <table class="table" style="text-align: center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa molekuły</th>
                        <th scope="col">Stopień</th>
                        <th scope="col">Współczynnik zgrupowania</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: center">Brak danych</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock content %}